@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<div class="row" style="text-align:center;">
    <h1 class="text-danger">Oops, an error has occured...</h1>
    <h2 class="text-danger">@Model.ErrorMessage</h2>
    <h4 class="text-danger">@Model.ErrorDetails</h4>
</div>
